@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}


body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

input {
  @apply border border-slate-800;
  @apply shadow-sm shadow-slate-200;
}